<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.AdasStateflagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.AdasStateflag">
        <id column="StateFlag" property="StateFlag" />
        <result column="StateName" property="StateName" />
        <result column="CloseText" property="CloseText" />
        <result column="OpenText" property="OpenText" />
        <result column="Remark" property="Remark" />
    </resultMap>

</mapper>
