<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.AdasAttachfileBuffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.AdasAttachfileBuff">
        <id column="Id" property="Id" />
        <result column="AlarmId" property="AlarmId" />
        <result column="SimNum" property="SimNum" />
        <result column="FileName" property="FileName" />
        <result column="FileType" property="FileType" />
        <result column="FileSource" property="FileSource" />
        <result column="Size" property="Size" />
        <result column="AlarmFlag" property="AlarmFlag" />
        <result column="AlarmType" property="AlarmType" />
        <result column="SourceType" property="SourceType" />
        <result column="SourceInfo" property="SourceInfo" />
        <result column="GetedNum" property="GetedNum" />
        <result column="CreateTime" property="CreateTime" />
        <result column="UpdateTime" property="UpdateTime" />
    </resultMap>

</mapper>
