<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.AdasAttachuploadcompletedinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.AdasAttachuploadcompletedinfo">
        <result column="UpdateTime" property="UpdateTime" />
        <result column="InsertTime" property="InsertTime" />
        <result column="FileName" property="FileName" />
        <result column="FileLength" property="FileLength" />
        <result column="NeedSupplementaryCount" property="NeedSupplementaryCount" />
        <result column="SimNum" property="SimNum" />
        <result column="FileType" property="FileType" />
    </resultMap>

</mapper>
