<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.AdasServiceperformanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.AdasServiceperformance">
        <id column="ServiceId" property="ServiceId" />
        <result column="DetailInfo" property="DetailInfo" />
        <result column="CPU" property="cpu" />
        <result column="ServiceStates" property="ServiceStates" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="IP" property="ip" />
        <result column="UseMemory" property="UseMemory" />
        <result column="CPUThreshold" property="CPUThreshold" />
        <result column="AvailableCapacity" property="AvailableCapacity" />
        <result column="TotalMemory" property="TotalMemory" />
        <result column="DiskThreshold" property="DiskThreshold" />
        <result column="TotalCapacity" property="TotalCapacity" />
        <result column="Description" property="Description" />
        <result column="DriverLetter" property="DriverLetter" />
        <result column="MemoryThreshold" property="MemoryThreshold" />
        <result column="AlarmFlag" property="AlarmFlag" />
        <result column="ServiceName" property="ServiceName" />
    </resultMap>

</mapper>
