<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BasOilboxrefpointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BasOilboxrefpoint">
        <id column="Id" property="Id" />
        <result column="PointNum" property="PointNum" />
        <result column="AnalogValue" property="AnalogValue" />
        <result column="OilValue" property="OilValue" />
        <result column="OilBoxTypeId" property="OilBoxTypeId" />
    </resultMap>

</mapper>
