<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BasPlaticoninfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BasPlaticoninfo">
        <id column="IconKey" property="IconKey" />
        <result column="Remark" property="Remark" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="IconData" property="IconData" />
        <result column="ModuleCode" property="ModuleCode" />
    </resultMap>

</mapper>
