<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BasVehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BasVehicle">
        <id column="VehicleId" property="VehicleId" />
        <result column="PlateNum" property="PlateNum" />
        <result column="ColorCode" property="ColorCode" />
        <result column="VehicleTypeCode" property="VehicleTypeCode" />
        <result column="TransTypeCode" property="TransTypeCode" />
        <result column="HomeCity" property="HomeCity" />
        <result column="OrgId" property="OrgId" />
        <result column="SimNum" property="SimNum" />
        <result column="TerminalId" property="TerminalId" />
        <result column="RegFlag" property="RegFlag" />
        <result column="AuthCode" property="AuthCode" />
        <result column="Remark" property="Remark" />
        <result column="CreateTime" property="CreateTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="ViStrong" property="ViStrong" />
        <result column="ViUseTax" property="ViUseTax" />
        <result column="ViDamage" property="ViDamage" />
        <result column="ViThief" property="ViThief" />
        <result column="ViThirdParty" property="ViThirdParty" />
        <result column="ViPassenger" property="ViPassenger" />
        <result column="ViExpirationTime" property="ViExpirationTime" />
        <result column="MileageCorrectRate" property="MileageCorrectRate" />
        <result column="ConnectorID" property="ConnectorID" />
        <result column="FactoryId" property="FactoryId" />
        <result column="PromptDays" property="PromptDays" />
        <result column="BusinessScope" property="BusinessScope" />
        <result column="CorpNum" property="CorpNum" />
        <result column="TwolevelMaintenanceTime" property="TwolevelMaintenanceTime" />
        <result column="TINo" property="TINo" />
        <result column="TotalMass" property="TotalMass" />
        <result column="CarBody" property="CarBody" />
        <result column="ADASFactoryName" property="ADASFactoryName" />
        <result column="OfflineMinutes" property="OfflineMinutes" />
        <result column="UnitArea" property="UnitArea" />
        <result column="DVRUserName" property="DVRUserName" />
        <result column="StartSite" property="StartSite" />
        <result column="DrivingPromptDays" property="DrivingPromptDays" />
        <result column="MacAddress" property="MacAddress" />
        <result column="CarPhone" property="CarPhone" />
        <result column="ServiceFee" property="ServiceFee" />
        <result column="CreateBy" property="CreateBy" />
        <result column="FrameNo" property="FrameNo" />
        <result column="LiabilityBeginTime" property="LiabilityBeginTime" />
        <result column="BSDFactoryName" property="BSDFactoryName" />
        <result column="EquipmentDebugger" property="EquipmentDebugger" />
        <result column="OperatorId" property="OperatorId" />
        <result column="IsInstallOil" property="IsInstallOil" />
        <result column="CharteredCarSTime" property="CharteredCarSTime" />
        <result column="DrivingLicensePic" property="DrivingLicensePic" />
        <result column="PersonId" property="PersonId" />
        <result column="RegTime" property="RegTime" />
        <result column="OLLength" property="OLLength" />
        <result column="TIClaimInfo" property="TIClaimInfo" />
        <result column="BrandModel" property="BrandModel" />
        <result column="MaintenanceLastMileage" property="MaintenanceLastMileage" />
        <result column="PropertyTime" property="PropertyTime" />
        <result column="IsHaveAlarmSound" property="IsHaveAlarmSound" />
        <result column="DSMFactoryName" property="DSMFactoryName" />
        <result column="VclnumRedy" property="VclnumRedy" />
        <result column="DrivingLicenseUseFunc" property="DrivingLicenseUseFunc" />
        <result column="DVRTypeCode" property="DVRTypeCode" />
        <result column="DriverLicenseEndTime" property="DriverLicenseEndTime" />
        <result column="NetProtocolNum" property="NetProtocolNum" />
        <result column="Tonnage" property="Tonnage" />
        <result column="Operator" property="Operator" />
        <result column="OwnerSimNum" property="OwnerSimNum" />
        <result column="IsAutoStay" property="IsAutoStay" />
        <result column="UnitCall" property="UnitCall" />
        <result column="VideoServerPort" property="VideoServerPort" />
        <result column="CommercialBeginTime" property="CommercialBeginTime" />
        <result column="ChanelNumInfo" property="ChanelNumInfo" />
        <result column="IsConnectCar" property="IsConnectCar" />
        <result column="SupercargoName" property="SupercargoName" />
        <result column="SVRStartTime" property="SVRStartTime" />
        <result column="PPromptDays" property="PPromptDays" />
        <result column="OLWidth" property="OLWidth" />
        <result column="DVRUserPwd" property="DVRUserPwd" />
        <result column="ADASEquip" property="ADASEquip" />
        <result column="LineNature" property="LineNature" />
        <result column="OilBox1TypeId" property="OilBox1TypeId" />
        <result column="CarrierTime" property="CarrierTime" />
        <result column="ReadyDelete" property="ReadyDelete" />
        <result column="TerminalCode" property="TerminalCode" />
        <result column="DriverPromptDays" property="DriverPromptDays" />
        <result column="ConnectorName" property="ConnectorName" />
        <result column="IsServicePay" property="IsServicePay" />
        <result column="DSMEquipId" property="DSMEquipId" />
        <result column="BSDEquip" property="BSDEquip" />
        <result column="IsInstallTemperature" property="IsInstallTemperature" />
        <result column="CommercialEndTime" property="CommercialEndTime" />
        <result column="OperateTypeCode" property="OperateTypeCode" />
        <result column="VideoCommunicateID" property="VideoCommunicateID" />
        <result column="TerminalImeiNum" property="TerminalImeiNum" />
        <result column="FirstQualifyNo" property="FirstQualifyNo" />
        <result column="PropertyCompany" property="PropertyCompany" />
        <result column="OwnerName" property="OwnerName" />
        <result column="IsPayment" property="IsPayment" />
        <result column="TerminalTypeId" property="TerminalTypeId" />
        <result column="RunStatus" property="RunStatus" />
        <result column="RoadTPromptDays" property="RoadTPromptDays" />
        <result column="CorpContact" property="CorpContact" />
        <result column="GradeEvaluateEnd" property="GradeEvaluateEnd" />
        <result column="ApprovedLoad" property="ApprovedLoad" />
        <result column="OfflineSMSUsers" property="OfflineSMSUsers" />
        <result column="DSMEquip" property="DSMEquip" />
        <result column="VehicleColor" property="VehicleColor" />
        <result column="EngineNo" property="EngineNo" />
        <result column="UnitAddress" property="UnitAddress" />
        <result column="HomeAddress" property="HomeAddress" />
        <result column="LIDCardNo" property="LIDCardNo" />
        <result column="TrusteeshipTime" property="TrusteeshipTime" />
        <result column="CurrentTaskInfo" property="CurrentTaskInfo" />
        <result column="DriverLicenseNo" property="DriverLicenseNo" />
        <result column="TPMSEquip" property="TPMSEquip" />
        <result column="OwnerEmail" property="OwnerEmail" />
        <result column="LastLoginFailTime" property="LastLoginFailTime" />
        <result column="LiabilityEndTime" property="LiabilityEndTime" />
        <result column="OilBox2TypeId" property="OilBox2TypeId" />
        <result column="SIMRemark" property="SIMRemark" />
        <result column="CharteredCarETime" property="CharteredCarETime" />
        <result column="FactoryNum" property="FactoryNum" />
        <result column="DSMFacCardModel" property="DSMFacCardModel" />
        <result column="ConnectorQualifyNo" property="ConnectorQualifyNo" />
        <result column="PropertyNo" property="PropertyNo" />
        <result column="PaymentTime" property="PaymentTime" />
        <result column="LaborQualificationNo" property="LaborQualificationNo" />
        <result column="CameraNum" property="CameraNum" />
        <result column="CurrentRegion" property="CurrentRegion" />
        <result column="VclnumStart" property="VclnumStart" />
        <result column="VehicleModel" property="VehicleModel" />
        <result column="IsDenyWebGps" property="IsDenyWebGps" />
        <result column="CarrierCompany" property="CarrierCompany" />
        <result column="Registration1" property="Registration1" />
        <result column="DrivingLicenseBtime" property="DrivingLicenseBtime" />
        <result column="Installer" property="Installer" />
        <result column="ViFire" property="ViFire" />
        <result column="ServerType" property="ServerType" />
        <result column="Arrears" property="Arrears" />
        <result column="RecorderVersion" property="RecorderVersion" />
        <result column="TransportPermitStart" property="TransportPermitStart" />
        <result column="TPMSFacCardModel" property="TPMSFacCardModel" />
        <result column="FirstConnectorName" property="FirstConnectorName" />
        <result column="IsAdasSplit" property="IsAdasSplit" />
        <result column="SecondUnitTel" property="SecondUnitTel" />
        <result column="OilBox3TypeId" property="OilBox3TypeId" />
        <result column="SupercargoPersonId" property="SupercargoPersonId" />
        <result column="InstallAdress" property="InstallAdress" />
        <result column="FactoryType" property="FactoryType" />
        <result column="SupercargoTel" property="SupercargoTel" />
        <result column="TerminalModel" property="TerminalModel" />
        <result column="TIDeadline" property="TIDeadline" />
        <result column="PropertyClaimInfo" property="PropertyClaimInfo" />
        <result column="ADASFacCardModel" property="ADASFacCardModel" />
        <result column="CPromptDays" property="CPromptDays" />
        <result column="IsOpenOfflineAlarm" property="IsOpenOfflineAlarm" />
        <result column="Servicer" property="Servicer" />
        <result column="ConnectTele" property="ConnectTele" />
        <result column="CorpName" property="CorpName" />
        <result column="VehicleSource" property="VehicleSource" />
        <result column="ProductDate" property="ProductDate" />
        <result column="CorpTel" property="CorpTel" />
        <result column="ServicePayTime" property="ServicePayTime" />
        <result column="BusinessNo" property="BusinessNo" />
        <result column="Salersman" property="Salersman" />
        <result column="LineCode" property="LineCode" />
        <result column="BSDFacCardModel" property="BSDFacCardModel" />
        <result column="CarVinNo" property="CarVinNo" />
        <result column="DVRChannelNum" property="DVRChannelNum" />
        <result column="IsInstallPosAndNeg" property="IsInstallPosAndNeg" />
        <result column="InstallTime" property="InstallTime" />
        <result column="CarrierClaimInfo" property="CarrierClaimInfo" />
        <result column="Seats" property="Seats" />
        <result column="Sex" property="Sex" />
        <result column="MaintenanceLastTime" property="MaintenanceLastTime" />
        <result column="TIPromptDays" property="TIPromptDays" />
        <result column="OweFile" property="OweFile" />
        <result column="TractionQuality" property="TractionQuality" />
        <result column="ManageDep" property="ManageDep" />
        <result column="RoadTransPortId" property="RoadTransPortId" />
        <result column="Insurance" property="Insurance" />
        <result column="DriverLicenseBeginTime" property="DriverLicenseBeginTime" />
        <result column="SimNum3G" property="SimNum3G" />
        <result column="OwnerRemark" property="OwnerRemark" />
        <result column="Line" property="Line" />
        <result column="CarIdentifyCode" property="CarIdentifyCode" />
        <result column="LiabilityCompany" property="LiabilityCompany" />
        <result column="LoginFailCount" property="LoginFailCount" />
        <result column="UnitTel" property="UnitTel" />
        <result column="OilMeterTypeId" property="OilMeterTypeId" />
        <result column="PathMsg" property="PathMsg" />
        <result column="VideoServerIP" property="VideoServerIP" />
        <result column="RealSimNum" property="RealSimNum" />
        <result column="FirstConnectID" property="FirstConnectID" />
        <result column="SVREndTime" property="SVREndTime" />
        <result column="AnnualCheckDeadline" property="AnnualCheckDeadline" />
        <result column="LaborQualificationAddr" property="LaborQualificationAddr" />
        <result column="PassWord" property="PassWord" />
        <result column="OLHeight" property="OLHeight" />
        <result column="ThirdEquipment" property="ThirdEquipment" />
        <result column="RegisterTime" property="RegisterTime" />
        <result column="NickName" property="NickName" />
        <result column="VclnumEnd" property="VclnumEnd" />
        <result column="Registration2" property="Registration2" />
        <result column="CarrierNo" property="CarrierNo" />
        <result column="DriverVehicleId" property="DriverVehicleId" />
        <result column="DrivingLicenseEtime" property="DrivingLicenseEtime" />
        <result column="TIContractor" property="TIContractor" />
        <result column="TransportPermitEnd" property="TransportPermitEnd" />
        <result column="TPMSFactoryName" property="TPMSFactoryName" />
        <result column="FirstConnectTele" property="FirstConnectTele" />
        <result column="AllowDriveCarType" property="AllowDriveCarType" />
        <result column="PreOrgId" property="PreOrgId" />
        <result column="ADASEquipId" property="ADASEquipId" />
        <result column="SecondUnitCall" property="SecondUnitCall" />
        <result column="CommercialCompany" property="CommercialCompany" />
        <result column="InstallName" property="InstallName" />
        <result column="SupercargoQuaSort" property="SupercargoQuaSort" />
        <result column="InstallUnit" property="InstallUnit" />
    </resultMap>

</mapper>
