<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BasVehicleexceptionuseipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BasVehicleexceptionuseip">
        <id column="VehicleId" property="VehicleId" />
        <result column="IsIPDownVideo" property="IsIPDownVideo" />
        <result column="IsIPRealVideo" property="IsIPRealVideo" />
        <result column="IsIPDownAttach" property="IsIPDownAttach" />
        <result column="IsIPReplayVideo" property="IsIPReplayVideo" />
        <result column="UpdateTime" property="UpdateTime" />
    </resultMap>

</mapper>
