<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.Biz809alarmsuperviserspMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.Biz809alarmsupervisersp">
        <id column="Id" property="Id" />
        <result column="GovId" property="GovId" />
        <result column="InsertTime" property="InsertTime" />
        <result column="RspResult" property="RspResult" />
        <result column="UniqueId" property="UniqueId" />
        <result column="Result" property="Result" />
        <result column="SimNum" property="SimNum" />
        <result column="SupervisionId" property="SupervisionId" />
        <result column="UserId" property="UserId" />
        <result column="RspTime" property="RspTime" />
    </resultMap>

</mapper>
