<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.Biz809sendcmdresultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.Biz809sendcmdresult">
        <id column="Id" property="Id" />
        <result column="SimNum" property="SimNum" />
        <result column="WorkId" property="WorkId" />
        <result column="MsgType" property="MsgType" />
        <result column="OrderResult" property="OrderResult" />
        <result column="OrderID" property="OrderID" />
    </resultMap>

</mapper>
