<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.Biz809platformqueryreqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.Biz809platformqueryreq">
        <id column="Id" property="Id" />
        <result column="InfoId" property="InfoId" />
        <result column="AnswerTime" property="AnswerTime" />
        <result column="UniqueId" property="UniqueId" />
        <result column="InsertTime" property="InsertTime" />
        <result column="QueryType" property="QueryType" />
        <result column="InfoContent" property="InfoContent" />
        <result column="GovId" property="GovId" />
        <result column="Remark" property="Remark" />
        <result column="SystemTime" property="SystemTime" />
        <result column="ReceiveTime" property="ReceiveTime" />
        <result column="QueryId" property="QueryId" />
        <result column="OrderId" property="OrderId" />
    </resultMap>

</mapper>
