<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizAlarmregionparamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizAlarmregionparam">
        <id column="Id" property="Id" />
        <result column="SimNum" property="SimNum" />
        <result column="CmdType" property="CmdType" />
        <result column="RegionId" property="RegionId" />
        <result column="RegionType" property="RegionType" />
        <result column="RegionProperty" property="RegionProperty" />
        <result column="CmdRegionId" property="CmdRegionId" />
        <result column="BeginTime" property="BeginTime" />
        <result column="EndTime" property="EndTime" />
        <result column="LimitSpeed" property="LimitSpeed" />
        <result column="SpeedingDuration" property="SpeedingDuration" />
        <result column="RegionName" property="RegionName" />
        <result column="NightHighSpeed" property="NightHighSpeed" />
    </resultMap>

</mapper>
