<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizAlarmprocessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizAlarmprocess">
        <id column="Id" property="Id" />
        <result column="SimNum" property="SimNum" />
        <result column="UserId" property="UserId" />
        <result column="WorkId" property="WorkId" />
        <result column="OrderId" property="OrderId" />
        <result column="GpsTime" property="GpsTime" />
        <result column="ProcessTime" property="ProcessTime" />
        <result column="ProcessMode" property="ProcessMode" />
        <result column="ProcessResult" property="ProcessResult" />
        <result column="Remark" property="Remark" />
        <result column="FilePath" property="FilePath" />
        <result column="AlarmId" property="AlarmId" />
    </resultMap>

</mapper>
