<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizAlarmpathparamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizAlarmpathparam">
        <id column="Id" property="Id" />
        <result column="SimNum" property="SimNum" />
        <result column="PathId" property="PathId" />
        <result column="PathProperty" property="PathProperty" />
        <result column="CmdPathId" property="CmdPathId" />
        <result column="BeginTime" property="BeginTime" />
        <result column="EndTime" property="EndTime" />
    </resultMap>

</mapper>
