<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizAuditsignofmonitorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizAuditsignofmonitor">
        <id column="Id" property="Id" />
        <result column="YGIsLocation" property="YGIsLocation" />
        <result column="SimNum" property="SimNum" />
        <result column="YGIsPass" property="YGIsPass" />
        <result column="SignTime" property="SignTime" />
        <result column="gpsTimeList" property="gpsTimeList" />
        <result column="YGIsUploadImg" property="YGIsUploadImg" />
        <result column="YGIsCorrectImgPos" property="YGIsCorrectImgPos" />
        <result column="UserId" property="UserId" />
    </resultMap>

</mapper>
