<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizCurrentdivisonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizCurrentdivison">
        <id column="Id" property="Id" />
        <result column="Longitude" property="Longitude" />
        <result column="SimNum" property="SimNum" />
        <result column="DivisonCode" property="DivisonCode" />
        <result column="Latitude" property="Latitude" />
        <result column="Address" property="Address" />
        <result column="UpdateTime" property="UpdateTime" />
    </resultMap>

</mapper>
