<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizGdtaxiyearmileageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizGdtaxiyearmileage">
        <id column="Id" property="Id" />
        <result column="Year" property="Year" />
        <result column="Remark" property="Remark" />
        <result column="OwnerCode" property="OwnerCode" />
        <result column="Result" property="Result" />
        <result column="BeginTime" property="BeginTime" />
        <result column="VehicleId" property="VehicleId" />
        <result column="EndMileage" property="EndMileage" />
        <result column="RunScope" property="RunScope" />
        <result column="OwnerName" property="OwnerName" />
        <result column="State" property="State" />
        <result column="Span" property="Span" />
        <result column="BeginMileage" property="BeginMileage" />
        <result column="CreateBy" property="CreateBy" />
        <result column="EndTime" property="EndTime" />
        <result column="SendTime" property="SendTime" />
        <result column="Mileage" property="Mileage" />
        <result column="UpdateTime" property="UpdateTime" />
    </resultMap>

</mapper>
