<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizIntersectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizIntersection">
        <id column="id" property="id" />
        <result column="Name" property="Name" />
        <result column="Speed2" property="Speed2" />
        <result column="Speed1" property="Speed1" />
        <result column="Lat2" property="Lat2" />
        <result column="Lat1" property="Lat1" />
        <result column="Direction" property="Direction" />
        <result column="Lon2" property="Lon2" />
        <result column="Lon1" property="Lon1" />
    </resultMap>

</mapper>
