<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizIntersectionwithparamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizIntersectionwithparam">
        <id column="IntersectionId" property="IntersectionId" />
        <result column="SimNum" property="SimNum" />
        <result column="Speed" property="Speed" />
        <result column="PathId" property="PathId" />
        <result column="InsTime" property="InsTime" />
    </resultMap>

</mapper>
