<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizJtbpassengerflowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizJtbpassengerflow">
        <id column="Id" property="Id" />
        <result column="ReceTime" property="ReceTime" />
        <result column="PeopleOnbordNum" property="PeopleOnbordNum" />
        <result column="PeopleGetOffNum" property="PeopleGetOffNum" />
        <result column="SimNum" property="SimNum" />
        <result column="BeginTime" property="BeginTime" />
        <result column="EndTime" property="EndTime" />
        <result column="GpsTime" property="GpsTime" />
    </resultMap>

</mapper>
