<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizMessagetypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizMessagetype">
        <id column="MsgTypeId" property="MsgTypeId" />
        <result column="Remark" property="Remark" />
        <result column="MsgTypeName" property="MsgTypeName" />
    </resultMap>

</mapper>
