<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizOperatoronlinelogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizOperatoronlinelog">
        <id column="Id" property="Id" />
        <result column="Remark" property="Remark" />
        <result column="LogoutTime" property="LogoutTime" />
        <result column="LoginTime" property="LoginTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="UserId" property="UserId" />
    </resultMap>

</mapper>
