<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizPlatdevicealarmconfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizPlatdevicealarmconfig">
        <id column="Id" property="Id" />
        <result column="MinValue" property="MinValue" />
        <result column="DeviceId" property="DeviceId" />
        <result column="MaxValue" property="MaxValue" />
        <result column="SimNum" property="SimNum" />
        <result column="DeviceType" property="DeviceType" />
    </resultMap>

</mapper>
