<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizPassengeroverloadhandlelogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizPassengeroverloadhandlelog">
        <result column="SignId" property="SignId" />
        <result column="HandleTime" property="HandleTime" />
        <result column="HandleUserId" property="HandleUserId" />
        <result column="HandleMethod" property="HandleMethod" />
        <result column="HandleRemark" property="HandleRemark" />
    </resultMap>

</mapper>
