<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizPathparamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizPathparam">
        <result column="PathId" property="PathId" />
        <result column="OrgId" property="OrgId" />
        <result column="BeginTime" property="BeginTime" />
        <result column="IsDel" property="IsDel" />
        <result column="EndTime" property="EndTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="PathProperty" property="PathProperty" />
        <result column="PathCategory" property="PathCategory" />
        <result column="PathParamId" property="PathParamId" />
        <result column="InsertTime" property="InsertTime" />
        <result column="TimeProperty" property="TimeProperty" />
        <result column="PathParamName" property="PathParamName" />
        <result column="UpdateUserId" property="UpdateUserId" />
        <result column="IsSet" property="IsSet" />
    </resultMap>

</mapper>
