<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizRealspeeddataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizRealspeeddata">
        <id column="ID" property="id" />
        <result column="RotationalSpeed" property="RotationalSpeed" />
        <result column="DiffADRSpeed" property="DiffADRSpeed" />
        <result column="ADRSpeed" property="ADRSpeed" />
        <result column="GpsTime" property="GpsTime" />
        <result column="SimNum" property="SimNum" />
        <result column="DiffSpeed" property="DiffSpeed" />
        <result column="Lat" property="Lat" />
        <result column="Speed" property="Speed" />
        <result column="ReceTime" property="ReceTime" />
        <result column="Lng" property="Lng" />
        <result column="Status" property="Status" />
    </resultMap>

</mapper>
