<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizSmslogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizSmslog">
        <id column="ID" property="id" />
        <result column="ToTelephone" property="ToTelephone" />
        <result column="FromInfo" property="FromInfo" />
        <result column="Remark" property="Remark" />
        <result column="SmsMsg" property="SmsMsg" />
        <result column="NoticeType" property="NoticeType" />
        <result column="SendTime" property="SendTime" />
        <result column="ClientInfo" property="ClientInfo" />
        <result column="SmsType" property="SmsType" />
        <result column="SendResult" property="SendResult" />
        <result column="InformType" property="InformType" />
        <result column="AlarmId" property="AlarmId" />
    </resultMap>

</mapper>
