<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizTripgroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizTripgroup">
        <id column="TripGroupId" property="TripGroupId" />
        <result column="CreateBy" property="CreateBy" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="TripGroupName" property="TripGroupName" />
        <result column="CreateTime" property="CreateTime" />
        <result column="Remark" property="Remark" />
    </resultMap>

</mapper>
