<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizTripinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizTripinfo">
        <id column="TripId" property="TripId" />
        <result column="StartRegionId" property="StartRegionId" />
        <result column="ViaLandRegionId1" property="ViaLandRegionId1" />
        <result column="CreateBy" property="CreateBy" />
        <result column="ViaRegionIds" property="ViaRegionIds" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="EndRegionId" property="EndRegionId" />
        <result column="TripName" property="TripName" />
        <result column="ViaLandRegionId2" property="ViaLandRegionId2" />
        <result column="CreateTime" property="CreateTime" />
        <result column="TripGroupId" property="TripGroupId" />
        <result column="Remark" property="Remark" />
    </resultMap>

</mapper>
