<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizTodaystartposMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizTodaystartpos">
        <id column="SimNum" property="SimNum" />
        <result column="GpsTime" property="GpsTime" />
        <result column="ReceTime" property="ReceTime" />
        <result column="Mileage" property="Mileage" />
        <result column="Longitude" property="Longitude" />
        <result column="Latitude" property="Latitude" />
        <result column="StateFlag" property="StateFlag" />
        <result column="AlarmFlag" property="AlarmFlag" />
        <result column="Speed" property="Speed" />
        <result column="ADRSpeed" property="ADRSpeed" />
        <result column="Updatetime" property="Updatetime" />
    </resultMap>

</mapper>
