<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizUseroperatorlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizUseroperatorlog">
        <id column="Id" property="Id" />
        <result column="OperateCode" property="OperateCode" />
        <result column="OrgOfOperateObj" property="OrgOfOperateObj" />
        <result column="UserId" property="UserId" />
        <result column="OperateObj" property="OperateObj" />
        <result column="Note" property="Note" />
        <result column="OperatorTime" property="OperatorTime" />
    </resultMap>

</mapper>
