<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizVehiclevideoalarmconfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizVehiclevideoalarmconfig">
        <id column="Id" property="Id" />
        <result column="TTSMsgContent" property="TTSMsgContent" />
        <result column="IsShowAlarmPopupForm" property="IsShowAlarmPopupForm" />
        <result column="OwnerRemindSeconds" property="OwnerRemindSeconds" />
        <result column="BeforeAlarmSeconds" property="BeforeAlarmSeconds" />
        <result column="CorpChargerRemindSeconds" property="CorpChargerRemindSeconds" />
        <result column="VideoChannel" property="VideoChannel" />
        <result column="SMSContent" property="SMSContent" />
        <result column="IsEnableAlarmSound" property="IsEnableAlarmSound" />
        <result column="CaptureChannel" property="CaptureChannel" />
        <result column="SMSObject" property="SMSObject" />
        <result column="VehicleId" property="VehicleId" />
        <result column="AfterAlarmSeconds" property="AfterAlarmSeconds" />
        <result column="IsEnableIntercom" property="IsEnableIntercom" />
        <result column="AlarmFlag" property="AlarmFlag" />
        <result column="VideoRecordChannel" property="VideoRecordChannel" />
        <result column="OrgChargerRemindSeconds" property="OrgChargerRemindSeconds" />
    </resultMap>

</mapper>
