<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.BizVehicleofflinelogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.BizVehicleofflinelog">
        <id column="ReceTime" property="ReceTime" />
        <result column="AlarmEventId" property="AlarmEventId" />
        <result column="Analogue" property="Analogue" />
        <result column="Longitude" property="Longitude" />
        <result column="Reserved" property="Reserved" />
        <result column="InOutPosType" property="InOutPosType" />
        <result column="OrderId" property="OrderId" />
        <result column="Altitude" property="Altitude" />
        <result column="ResidualFuel" property="ResidualFuel" />
        <result column="OfflineTimeOut" property="OfflineTimeOut" />
        <result column="StarCount" property="StarCount" />
        <result column="StateFlag" property="StateFlag" />
        <result column="Direction" property="Direction" />
        <result column="AdditionData" property="AdditionData" />
        <result column="GpsTime" property="GpsTime" />
        <result column="DrivingPathSectionId" property="DrivingPathSectionId" />
        <result column="Latitude" property="Latitude" />
        <result column="InOutPosId" property="InOutPosId" />
        <result column="LimitSpeed" property="LimitSpeed" />
        <result column="DrivingDuration" property="DrivingDuration" />
        <result column="Speed" property="Speed" />
        <result column="SpeedingPosType" property="SpeedingPosType" />
        <result column="WirelessSignal" property="WirelessSignal" />
        <result column="ExStateFlag" property="ExStateFlag" />
        <result column="Mileage" property="Mileage" />
        <result column="SpeedingPosId" property="SpeedingPosId" />
        <result column="SimNum" property="SimNum" />
        <result column="ADRSpeed" property="ADRSpeed" />
        <result column="InsertTime" property="InsertTime" />
        <result column="InOutFlag" property="InOutFlag" />
        <result column="DrivingFlag" property="DrivingFlag" />
        <result column="AlarmFlag" property="AlarmFlag" />
    </resultMap>

</mapper>
