<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.MonDisabledvehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.MonDisabledvehicle">
        <id column="Id" property="Id" />
        <result column="ReportTime" property="ReportTime" />
        <result column="DisabledTime" property="DisabledTime" />
        <result column="DisabledReasonId" property="DisabledReasonId" />
        <result column="UploadState" property="UploadState" />
        <result column="ColorCode" property="ColorCode" />
        <result column="PlateNum" property="PlateNum" />
        <result column="DisabledEndTime" property="DisabledEndTime" />
    </resultMap>

</mapper>
