<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.MonVehicleoperatestateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.MonVehicleoperatestate">
        <id column="Id" property="Id" />
        <result column="ColorCode" property="ColorCode" />
        <result column="RequestTime" property="RequestTime" />
        <result column="StateCode" property="StateCode" />
        <result column="PlateNum" property="PlateNum" />
    </resultMap>

</mapper>
