<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.MonVehicleillegalassessinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.MonVehicleillegalassessinfo">
        <id column="Id" property="Id" />
        <result column="OutageVehicles" property="OutageVehicles" />
        <result column="NoPhoto" property="NoPhoto" />
        <result column="OffRoute" property="OffRoute" />
        <result column="ShotTwist" property="ShotTwist" />
        <result column="CompanyID" property="CompanyID" />
        <result column="NoLocateData" property="NoLocateData" />
        <result column="Repair" property="Repair" />
        <result column="Overcrowding" property="Overcrowding" />
        <result column="Online" property="Online" />
        <result column="ShotBlock" property="ShotBlock" />
        <result column="Time" property="Time" />
        <result column="LocusAberrant" property="LocusAberrant" />
    </resultMap>

</mapper>
