<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.RepApprepairlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.RepApprepairlog">
        <id column="LogId" property="LogId" />
        <result column="ApplyNum" property="ApplyNum" />
        <result column="PlateNum" property="PlateNum" />
        <result column="ColorCode" property="ColorCode" />
        <result column="IMEINum" property="IMEINum" />
        <result column="SimNum" property="SimNum" />
        <result column="RealSimNum" property="RealSimNum" />
        <result column="LogType" property="LogType" />
        <result column="CheckMark" property="CheckMark" />
        <result column="CheckState" property="CheckState" />
        <result column="ProState" property="ProState" />
        <result column="OrgId" property="OrgId" />
        <result column="CorpName" property="CorpName" />
        <result column="CorpContact" property="CorpContact" />
        <result column="CorpTel" property="CorpTel" />
        <result column="VehicleTypeCode" property="VehicleTypeCode" />
        <result column="VehicleModel" property="VehicleModel" />
        <result column="FrameNo" property="FrameNo" />
        <result column="Tonnage" property="Tonnage" />
        <result column="IsFirstNet" property="IsFirstNet" />
        <result column="OldPlatform" property="OldPlatform" />
        <result column="TerminalTypeId" property="TerminalTypeId" />
        <result column="TerminalModel" property="TerminalModel" />
        <result column="FactoryNum" property="FactoryNum" />
        <result column="CameraNum" property="CameraNum" />
        <result column="InstallType" property="InstallType" />
        <result column="LogTime" property="LogTime" />
        <result column="ApplyTime" property="ApplyTime" />
        <result column="CompleteTime" property="CompleteTime" />
        <result column="OperateType" property="OperateType" />
        <result column="OldSimNum" property="OldSimNum" />
        <result column="OldTerminalTypeId" property="OldTerminalTypeId" />
        <result column="OldTerminalModel" property="OldTerminalModel" />
        <result column="OldFactoryNum" property="OldFactoryNum" />
        <result column="RepairUser" property="RepairUser" />
        <result column="IsSuccess" property="IsSuccess" />
        <result column="LogDetail" property="LogDetail" />
        <result column="EquipDetail" property="EquipDetail" />
        <result column="Remark" property="Remark" />
        <result column="CheckUser" property="CheckUser" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="CreateTime" property="CreateTime" />
        <result column="FeedbackQuestion" property="FeedbackQuestion" />
        <result column="BrandModel" property="BrandModel" />
        <result column="ProcessModeCode" property="ProcessModeCode" />
        <result column="FeedbackContent" property="FeedbackContent" />
        <result column="FaultTypeCode" property="FaultTypeCode" />
    </resultMap>

</mapper>
