<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.RepAppversionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.RepAppversion">
        <id column="ID" property="id" />
        <result column="VersionName" property="VersionName" />
        <result column="Remark" property="Remark" />
        <result column="UpdateTimes" property="UpdateTimes" />
        <result column="VersionType" property="VersionType" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="VersionCode" property="VersionCode" />
        <result column="CreateTime" property="CreateTime" />
        <result column="DownloadNetPath" property="DownloadNetPath" />
    </resultMap>

</mapper>
