<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.RepEquipinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.RepEquipinfo">
        <id column="EquipId" property="EquipId" />
        <result column="EquipName" property="EquipName" />
        <result column="Price" property="Price" />
        <result column="CreateTime" property="CreateTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="CreateBy" property="CreateBy" />
        <result column="Remark" property="Remark" />
        <result column="OrderCode" property="OrderCode" />
    </resultMap>

</mapper>
