<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.RepRepairtypeinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.RepRepairtypeinfo">
        <id column="LogTypeId" property="LogTypeId" />
        <result column="LogTypeName" property="LogTypeName" />
        <result column="Remark" property="Remark" />
        <result column="OrderId" property="OrderId" />
    </resultMap>

</mapper>
