<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.RptEverydayinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.RptEverydayinfo">
        <id column="Id" property="Id" />
        <result column="everyDate" property="everyDate" />
        <result column="Remark" property="Remark" />
        <result column="pathway" property="pathway" />
        <result column="CreateTime" property="CreateTime" />
        <result column="startPlace" property="startPlace" />
        <result column="bookId" property="bookId" />
        <result column="destination" property="destination" />
        <result column="UpdateTime" property="UpdateTime" />
    </resultMap>

</mapper>
