<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.RptTrackcounthourMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.RptTrackcounthour">
        <id column="Id" property="Id" />
        <result column="TrackDay" property="TrackDay" />
        <result column="TrackCount" property="TrackCount" />
        <result column="GeoCode" property="GeoCode" />
        <result column="OrgId" property="OrgId" />
        <result column="SafetyCount" property="SafetyCount" />
        <result column="TrackHour" property="TrackHour" />
    </resultMap>

</mapper>
