<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.SysConfig">
        <id column="Key" property="Key" />
        <result column="Value" property="Value" />
        <result column="Remark" property="Remark" />
        <result column="FromModule" property="FromModule" />
        <result column="IsConfigurable" property="IsConfigurable" />
    </resultMap>

</mapper>
