<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.SysExtthirdplaturlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.SysExtthirdplaturl">
        <id column="Id" property="Id" />
        <result column="Type" property="Type" />
        <result column="Param" property="Param" />
        <result column="IsOpenWin" property="IsOpenWin" />
        <result column="isEnable" property="isEnable" />
        <result column="Url" property="Url" />
        <result column="Name" property="Name" />
    </resultMap>

</mapper>
