<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.SysLog">
        <id column="Id" property="Id" />
        <result column="LogTime" property="LogTime" />
        <result column="LogType" property="LogType" />
        <result column="LogContent" property="LogContent" />
        <result column="FromModule" property="FromModule" />
    </resultMap>

</mapper>
