<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.SysOtherplatformUserconfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.SysOtherplatformUserconfig">
        <id column="Id" property="Id" />
        <result column="Param1" property="Param1" />
        <result column="UserId" property="UserId" />
        <result column="Remark" property="Remark" />
        <result column="PlatCode" property="PlatCode" />
        <result column="Param2" property="Param2" />
        <result column="Param3" property="Param3" />
        <result column="Enabled" property="Enabled" />
    </resultMap>

</mapper>
