<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.SysRole">
        <id column="RoleId" property="RoleId" />
        <result column="RoleName" property="RoleName" />
        <result column="CreateTime" property="CreateTime" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="Remark" property="Remark" />
        <result column="SearchCode" property="SearchCode" />
        <result column="ParentId" property="ParentId" />
        <result column="CreatedBy" property="CreatedBy" />
    </resultMap>

</mapper>
