<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.UpdUpgradetaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.UpdUpgradetask">
        <id column="TaskId" property="TaskId" />
        <result column="Remark" property="Remark" />
        <result column="SimNumList" property="SimNumList" />
        <result column="TaskType" property="TaskType" />
        <result column="PlanTime" property="PlanTime" />
        <result column="TaskName" property="TaskName" />
        <result column="CreateTime" property="CreateTime" />
        <result column="VersionId" property="VersionId" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="TaskState" property="TaskState" />
    </resultMap>

</mapper>
