<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.VideoLoginlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.VideoLoginlog">
        <result column="LoginTime" property="LoginTime" />
        <result column="Ip" property="Ip" />
        <result column="ClientId" property="ClientId" />
        <result column="UserId" property="UserId" />
        <result column="LogoutReason" property="LogoutReason" />
        <result column="id" property="id" />
        <result column="LogoutTime" property="LogoutTime" />
        <result column="Port" property="Port" />
    </resultMap>

</mapper>
