<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.Wx2AlarmpostlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cgo.db.entity.Wx2Alarmpostlog">
        <id column="AlarmId" property="AlarmId" />
        <result column="CreateTime" property="CreateTime" />
        <result column="IDs" property="IDs" />
        <result column="PlatformUrl" property="PlatformUrl" />
    </resultMap>

</mapper>
